{
  "arrowParens": "always",
  "trailingComma": "all",
  "semi": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": false,
  "jsxSingleQuote": false
}
